//
   Created by mauro on 01/05/16.

extends ../layout
block content
   h1.
      #{title}
   form#formAddBlob(name="adduser",method="post",action="/user")
      p Name:
         input#inputName(type="text", placeholder="ex. John Smith", name="name")
      p Badge:
         input#inputBadge(type="number", placeholder="ex. 123456", name="badge")
      p DOB:
         input#inputDob(type="date", name="dob")
      p Are You Loved?:
         input#inputIsLoved(type="checkbox", name="isloved")
      p
         button#btnSubmit(type="submit") submit